-# .new-tweet
-#   %h1 ユーザー変更
-#   .new-tweet__content
-#     = form_with model: [@nickname, @introduce] do |form|
-#       #title= form.text_field :nickname, placeholder: "nickname"
-#       = form.text_area :introduce, placeholder: "自己紹介"
-#       = form.submit
      