.follows
  - @users.each do |user|
    %hr/
    .follows__detail
      %span nickname:
      %name= link_to user.nickname, user_path(user.id)
      - if current_user != user
        - if user.followed_by?(current_user)
          = link_to "フォロー中", user_relationships_path(user.id), method: :delete, class: "alreadyfollowed"
        - else
          = link_to "フォローする", user_relationships_path(user.id), method: :post, class: "following"
