.header{
  background-color: black;
  display: flex;
  justify-content: space-between;
  &__child{
    background-color: khaki;
    padding: 10px;
    &--logo{
      a{
        text-decoration: none;
        display: flex;
        h1{
          font-family: 'Ranchers', cursive;
          font-size: 25px;
          color: black;
          text-decoration: none;
        }
        i{
          padding-top: 4px;
          font-size: 25px;
          color: black;
          text-decoration: none;
        }
      }
    }
  }
  &__list{
    &--icon{
      display: flex;
      padding: 10px;
      .user{
        font-family: 'Ranchers', cursive;
        font-family: 'Rowdies', cursive;
        font-family: 'Staatliches', cursive;
        display: flex;
        .icons{
          font-size: 18px;
          margin-right: 15px;
          nickname{
            color: white;
          }
          a{
            text-decoration: none;
            color: white;
          }
        }
        logout{
          padding-left: 20px;
          padding-right: 10px;
          a{
            text-decoration: none;
            color: white;
          }
        }
      }
      .user_grid{
        .post{
          font-family: 'Ranchers', cursive;
          font-family: 'Rowdies', cursive;
          font-family: 'Staatliches', cursive;
          text-decoration: none;
          color: white;
          margin-right: 20px;
        }
      }
    }
  }
  }

.footer{
  background-color: red;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}


.recipe{
  display: flex;
  h1{
    font-size: 50px;
    font-family: 'Ranchers', cursive;
    padding: 10px;
  }
  i{
    font-size: 44px;
    background-color: lawngreen;
    padding: 19px;
  }


}
@media screen and (min-width:600px){
.row {
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100%;
  
}}
.row{
  display: flex;
  a{
    text-decoration: none;
  }
}

.content_post {
  margin: 20px 0;
  padding: 30px;
  position: relative;
  height: 200px;
  width: 200px;
  color: #fff;
  background-size: cover;
  background-position: center center;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(41,41,41,0.2);

  p {
    font-size: 20px;
    position: absolute;
    left: 30px;
    bottom: 30px;
    margin: 0;
    color: black;
    z-index: 2;
    background-color: white;
    opacity: 0.5;
    padding: 5px 30px 5px 30px;
  }
  p1{
    font-size: 20px;
    position: absolute;
    left: 0px;
    bottom: 30px;
    margin: 0;
    color: white;
    background-color: black;
    opacity: 0.5;
    padding: 5px 1px 5px 11px;
  }
  p2 {
    position: absolute;
    color: white;
    top: 30px;
    right: 20px;
    font-size: 20px;
    text-shadow: 0 0 2px #000, 0 0 1px #000, 0 0 1px #000;
  }
  p3{
    background: linear-gradient(to right, lightgrey, white);
    font-size: 20px;
    border-radius: 10px;
    color: black;
    letter-spacing: 3px;
    text-shadow: 0 0 2px #fff, 0 0 1px #fff, 0 0 1px #fff;
  }
  pp {
    font-size: 20px;
    position: absolute;
    left: 30px;
    bottom: 70px;
    margin: 0;
    color: black;
    z-index: 2;
    background-color: white;
    opacity: 0.5;
    padding: 5px 30px 5px 30px;
  }
  pF{
    font-size: 20px;
    position: absolute;
    left: 0px;
    bottom: 70px;
    margin: 0;
    color: white;
    background-color: black;
    opacity: 0.5;
    padding: 5px 1px 5px 11px;
  }
  ppp {
    font-size: 20px;
    position: absolute;
    left: 30px;
    bottom: 110px;
    margin: 0;
    color: black;
    z-index: 2;
    background-color: white;
    opacity: 0.5;
    padding: 5px 30px 5px 30px;
  }
  pC{
    font-size: 20px;
    position: absolute;
    left: 0px;
    bottom: 110px;
    margin: 0;
    color: white;
    background-color: black;
    opacity: 0.5;
    padding: 5px 1px 5px 11px;
  }
  .follow{
    p{
      border-radius: 20px;
      font-size: 10px;
      font-weight: bold;
      position: absolute;
      left: 0px;
      bottom: 235px;
      margin: 0;
    }
    
  }
}

