.new-tweet{
  font-family: 'Ranchers', cursive;
  font-family: 'Rowdies', cursive;
  font-family: 'Staatliches', cursive;
  font-size: 50px;
  background-color: lightseagreen;
  border-radius: 20px;
  h1{
    text-align: center;
    color: khaki;
    background-color: black;
    margin: 10px;
    border-radius: 20px;
  }
  &__content{
    text-align: center;
    #i{
      font-size: 50px;
    }
    .image{
      font-size: 10px;
    }
    .file{
      display: none;
    }
    p{
      font-size: 30px;
    }
    .form-area{
      font-size: 30px;
      width: 520px;
      height: 128px;
      justify-content: center;
      margin-top: 10px;
    }
    .image{
      display: none;
      
    }
    #title{
      font-size: 30px;
      padding-bottom: 10px;
    }
  }
}