.follows{
  
  &__detail{
    display: flex;
    span{
      padding-right: 10px;
    }
    name{
      font-weight: bold;
    }
    a{
      padding-right: 10px;
      text-decoration: none;
      color: black;
    }
    .alreadyfollowed{
      border: 1px solid black;
      border-radius: 5px;
      font-size: 15px;
      padding-left: 3px;
    }
    .following{
      background-color: #0091ff;
      border-radius: 5px;
      font-size: 15px;
      padding-left: 3px;
    }
  }
}

.sns{
  display: flex;
  
  .instagram{
  a{
    i{
      background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
      background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
      padding-left: 1px;
      padding-right: 1px;
      border-radius: 5px;
      color: white;
    }
  }
  }
  .facebook{
    a{
      i{
        color: #1877f2;
      }
    }

  }
  .twitter{
    a{
      i{
        color:#1DA1F2;
      }
    }

  }
}