.new{
  text-align: center;
  font-size: 30px;
  background-color: lightseagreen;
  border-radius: 20px;
  margin: 50px;
  font-family: 'Ranchers', cursive;
  font-family: 'Rowdies', cursive;
  font-family: 'Staatliches', cursive;
  .new_form{
    h2{
      font-size: 50px;

    }
  }
}