.introduce{
  .content{
    .userbox{
      display: flex;
      &__top{
        &__left{
          width: 80px;
          height: 80px;
          border-radius: 100px;
          overflow: hidden;
          border: 1px solid black;
          &__icon{
    
          }
        }
      }
      .name{
        .intro{
          display: flex;
          font-size: 25px;
          margin:20px 0px 5px 20px;
          a{
            color: black;
            padding-left: 5px;
            text-decoration: none;
            padding-right: 5px;
            
          }
          
          .introduce__name{
          }
          .introduce__edit{
            text-decoration: none;
          }
          .follow{
            display: flex;
            font-size: 15px;
            font-family: 'Ranchers', cursive;
            font-family: 'Rowdies', cursive;
            font-family: 'Staatliches', cursive;
            
            .following{
              background-color: khaki;
              padding: 15px;
              margin-right: 5px;
              border-radius: 20px;
              display: flex;
              
            }
            .follower{
              background-color: khaki;
              padding: 15px;
              margin-right: 5px;
              border-radius: 20px;
              display: flex;
            }

          }
          
        }
        .bottom{
          p{
            font-size: 10px;
          }
        }
        
      }
      
    }
    
    
  }
}


